.rules_btn {
    width: 9rem;
    position: absolute;
    padding: 0.8rem;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    left: 85%;
    bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .rules_btn {
        left: auto;
        position: static;
        margin-bottom: 1rem;
    }

 }