* {
  padding: 0;
  margin: 0;
}


body {
 height: 100vh;
  background: radial-gradient(circle, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 50%);
  font-family:  'Barlow Semi Condensed', sans-serif;

}
#root {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.attribution {
   font-size: 11px;
   text-align: center ; 
  
  
  }
.attribution a { color: hsl(228, 45%, 44%); }

